school_webservices_bced_personne/static/wsdl/bced_inscription/xsd/BCEDInscriptionMessages_v1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:id="http://bced.wallonie.be/common/identification/v3" xmlns:err="http://bced.wallonie.be/data/common/error/v1" xmlns:dat="http://bced.wallonie.be/data/common/date/v1" xmlns:entnum="http://bced.wallonie.be/data/entity/enteprise/number/v1" xmlns:num="http://bced.wallonie.be/data/entity/person/number/v1" xmlns:priv="http://bced.wallonie.be/common/privacylog/v5" xmlns:cod="http://bced.wallonie.be/data/common/code/v1" xmlns:tns="http://bced.wallonie.be/services/inscription/messages/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bced.wallonie.be/services/inscription/messages/v1" version="1.01">
<xs:annotation>
<xs:documentation>v1.1 : Modify exention period to yearMonthDuration</xs:documentation>
</xs:annotation>
<xs:import namespace="http://bced.wallonie.be/common/privacylog/v5" schemaLocation="privacy_v5.xsd"></xs:import>
<xs:import namespace="http://bced.wallonie.be/common/identification/v3" schemaLocation="identification_v3.xsd"></xs:import>
<xs:import namespace="http://bced.wallonie.be/data/common/date/v1" schemaLocation="date_v1.xsd"></xs:import>
<xs:import namespace="http://bced.wallonie.be/data/entity/person/number/v1" schemaLocation="personNumber_v1.xsd"></xs:import>
<xs:import namespace="http://bced.wallonie.be/data/common/code/v1" schemaLocation="code_v1.xsd"></xs:import>
<xs:import namespace="http://bced.wallonie.be/data/common/error/v1" schemaLocation="error_v1.xsd"></xs:import>
<xs:import namespace="http://bced.wallonie.be/data/entity/enteprise/number/v1" schemaLocation="enterpriseNumber_v1.xsd"></xs:import>
<xs:element name="publishInscription" type="tns:PublishInscriptionRequestType">
<xs:annotation>
<xs:documentation>ajout d'une inscription au répertoire des inscriptions.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="publishInscriptionResponse">
<xs:annotation>
<xs:documentation>statut de l'ajout</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:complexContent>
<xs:extension base="cod:CodeType">
<xs:sequence>
<xs:element minOccurs="0" name="inscriptionReference" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="cancelInscription" type="tns:CancelInscriptionRequestType">
<xs:annotation>
<xs:documentation>suppression d'une inscription au répertoire des inscriptions</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="cancelInscriptionResponse">
<xs:annotation>
<xs:documentation>statut de la suppression</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:complexContent>
<xs:extension base="cod:CodeType"></xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="searchInscriptions" type="tns:SearchInscriptionsRequestType">
<xs:annotation>
<xs:documentation>recherche d'inscriptions sur base de différents critères</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="searchInscriptionsResponse" type="tns:SearchInscriptionsResponseType">
<xs:annotation>
<xs:documentation>liste des inscriptions recherchées</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="closeInscription" type="tns:CloseInscriptionRequestType">
<xs:annotation>
<xs:documentation>fermeture d'une inscription : la date de fin est mise à jour.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="closeInscriptionResponse">
<xs:annotation>
<xs:documentation>statut de la mise à jour</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:complexContent>
<xs:extension base="cod:CodeType">
<xs:sequence minOccurs="0">
<xs:element minOccurs="0" name="inscription" type="tns:InscriptionType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="extendInscription" type="tns:ExtendInscriptionRequestType">
<xs:annotation>
<xs:documentation>extension de la période d'inscription.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="extendInscriptionResponse">
<xs:annotation>
<xs:documentation>statut de la mise à jour</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:complexContent>
<xs:extension base="cod:CodeType">
<xs:sequence minOccurs="0">
<xs:element minOccurs="0" name="inscription" type="tns:InscriptionType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:complexType name="PublishInscriptionRequestType">
<xs:sequence>
<xs:element ref="id:requestIdentification"></xs:element>
<xs:element ref="priv:privacyLog"></xs:element>
<xs:element name="request">
<xs:complexType>
<xs:sequence>
<xs:choice>
<xs:element name="personNumber" type="num:PersonNumberType"></xs:element>
<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumber"></xs:element>
</xs:choice>
<xs:element name="period" type="dat:PeriodType">
<xs:annotation>
<xs:documentation>La période d'inscription.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CancelInscriptionRequestType">
<xs:sequence>
<xs:element ref="id:requestIdentification"></xs:element>
<xs:element ref="priv:privacyLog"></xs:element>
<xs:element name="request" type="tns:InscriptionRequestType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SearchInscriptionsResponseType">
<xs:choice>
<xs:sequence>
<xs:element name="hasNextPage" type="xs:boolean">
<xs:annotation>
<xs:documentation>Elément indiquant la présence (ou non) de plus de résultats.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="inscriptions">
<xs:annotation>
<xs:documentation>La liste de inscriptions trouvées</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="50" name="inscription">
<xs:complexType>
<xs:sequence>
<xs:element name="inscriptionReference">
<xs:annotation>
<xs:documentation>la numéro de référence de l'inscription.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="personNumber">
<xs:annotation>
<xs:documentation>le numéro d'identification à la sécurité sociale de la personne inscrite</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumber">
<xs:annotation>
<xs:documentation>le numéro d'identification d'une entreprise à la BCE</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="context" type="xs:string">
<xs:annotation>
<xs:documentation>Le dispositif lié à l'inscription</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element minOccurs="0" name="dossier" type="priv:DossierType"></xs:element>
<xs:element name="period" type="dat:PeriodType">
<xs:annotation>
<xs:documentation>La période d'inscription</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="creationDate" type="xs:date">
<xs:annotation>
<xs:documentation>la date de création de l'inscription</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="modificationDate" type="xs:date">
<xs:annotation>
<xs:documentation>la date de modification de l'inscription (extension/clôture)</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="cancellationDate" type="xs:date">
<xs:annotation>
<xs:documentation>la date de suppression de l'inscription</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" ref="err:warning"></xs:element>
</xs:sequence>
<xs:element ref="err:error"></xs:element>
</xs:choice>
</xs:complexType>
<xs:complexType name="SearchInscriptionsRequestType">
<xs:sequence>
<xs:element ref="id:requestIdentification"></xs:element>
<xs:element ref="priv:privacyLog"></xs:element>
<xs:element name="request">
<xs:complexType>
<xs:sequence>
<xs:choice>
<xs:element name="personNumbers">
<xs:annotation>
<xs:documentation>Les numéros d'identification à la sécurité sociales des personnes rechercherchées.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="50" name="personNumber" type="num:PersonNumberType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="enterpriseNumbers">
<xs:annotation>
<xs:documentation>Les numéros BCE des entreprises recherchées.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="50" name="enterpriseNumber" type="entnum:CbeEntityNumber"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="period" type="dat:PeriodType">
<xs:annotation>
<xs:documentation>La période durant laquelle des inscriptions ont été crées</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="dossiers">
<xs:annotation>
<xs:documentation>La liste des dossiers.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="50" name="dossierId">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="source" type="xs:string"></xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="inscriptionReferences">
<xs:annotation>
<xs:documentation>Les références des inscriptions</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="50" name="inscriptionReference" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:choice>
<xs:element minOccurs="0" name="paging" type="xs:int">
<xs:annotation>
<xs:documentation>Le numéro de la "page" de résultat souhaitée</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CloseInscriptionRequestType">
<xs:sequence>
<xs:element ref="id:requestIdentification"></xs:element>
<xs:element ref="priv:privacyLog"></xs:element>
<xs:element name="request">
<xs:complexType>
<xs:sequence>
<xs:element name="inscription" type="tns:InscriptionRequestType"></xs:element>
<xs:element minOccurs="0" name="inscriptionEndDate" type="xs:date">
<xs:annotation>
<xs:documentation>La date de clôture de l'inscription</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ExtendInscriptionRequestType">
<xs:sequence>
<xs:element ref="id:requestIdentification"></xs:element>
<xs:element ref="priv:privacyLog"></xs:element>
<xs:element name="request">
<xs:complexType>
<xs:sequence>
<xs:element name="inscription" type="tns:InscriptionRequestType"></xs:element>
<xs:element name="duration">
<xs:simpleType>
<xs:restriction base="xs:duration">
<xs:pattern value="[^DT]*"></xs:pattern>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InscriptionRequestType">
<xs:choice>
<xs:sequence>
<xs:choice>
<xs:element name="personNumber" type="num:PersonNumberType">
<xs:annotation>
<xs:documentation>Le numéro d'identification à la sécurité sociale de la personne</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumber">
<xs:annotation>
<xs:documentation>Le numéro d'identification à la BCE de l'entreprise</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="period" type="dat:PeriodType">
<xs:annotation>
<xs:documentation>la période d'inscription</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:element name="inscriptionReference" type="xs:string">
<xs:annotation>
<xs:documentation>La référence de l'inscrption</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:complexType>
<xs:complexType name="InscriptionType">
<xs:sequence>
<xs:element name="inscriptionReference">
<xs:annotation>
<xs:documentation>la numéro de référence de l'inscription.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="personNumber">
<xs:annotation>
<xs:documentation>le numéro d'identification à la sécurité sociale de la personne inscrite</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumber">
<xs:annotation>
<xs:documentation>le numéro d'identification d'une entreprise à la BCE</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="context" type="xs:string">
<xs:annotation>
<xs:documentation>Le dispositif lié à l'inscription</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element minOccurs="0" name="dossier" type="priv:DossierType"></xs:element>
<xs:element name="period" type="dat:PeriodType">
<xs:annotation>
<xs:documentation>La période d'inscription</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="creationDate" type="xs:date">
<xs:annotation>
<xs:documentation>la date de création de l'inscription</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="modificationDate" type="xs:date">
<xs:annotation>
<xs:documentation>la date de modification de l'inscription (extension/clôture)</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="cancellationDate" type="xs:date">
<xs:annotation>
<xs:documentation>la date de suppression de l'inscription</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:schema>
