school_webservices/static/wsdl/fase/fase_organisation.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://www.etnic.be/services/fase/organisation/v2" xmlns:async="http://www.etnic.be/janus/ow" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://www.etnic.be/services/fase/organisation/v2">
  <wsdl:types>
    <xsd:schema>
			<xsd:import namespace="http://www.etnic.be/services/fase/organisation/v2" schemaLocation="xsd/fase_organisation_2.0.0.xsd"></xsd:import>
			<xsd:import namespace="http://www.etnic.be/janus/ow" schemaLocation="xsd/async_statut_1.0.0.xsd"></xsd:import>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ObtenirOrganisationReponse">
    <wsdl:part name="parameters" element="tns:ObtenirOrganisationReponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatutMessage">
    <wsdl:part name="parameters" element="async:StatutMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenirOrganisationRequete">
    <wsdl:part name="parameters" element="tns:ObtenirOrganisationRequete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrganisationAsyncPT">
    <wsdl:operation name="obtenirOrganisation">
      <wsdl:input name="obtenirOrganisationRequete" message="tns:ObtenirOrganisationRequete">
    </wsdl:input>
      <wsdl:output name="StatutReponse" message="tns:StatutMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OrganisationSyncPT">
    <wsdl:operation name="obtenirOrganisation">
      <wsdl:input name="obtenirOrganisationRequete" message="tns:ObtenirOrganisationRequete">
    </wsdl:input>
      <wsdl:output name="obtenirOrganisationReponse" message="tns:ObtenirOrganisationReponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrganisationAsyncBinding" type="tns:OrganisationAsyncPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsaw:UsingAddressing wsdl:required="true"></wsaw:UsingAddressing>
    <wsdl:operation name="obtenirOrganisation">
      <soap:operation soapAction="fase:organisationV2?mode=async" style="document"></soap:operation>
      <wsdl:input name="obtenirOrganisationRequete">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="StatutReponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrganisationAsyncSOAP12Binding" type="tns:OrganisationAsyncPT">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></wsoap12:binding>
    <wsaw:UsingAddressing wsdl:required="true"></wsaw:UsingAddressing>
    <wsdl:operation name="obtenirOrganisation">
      <wsoap12:operation soapAction="fase:organisationV2?mode=async" style="document"></wsoap12:operation>
      <wsdl:input name="obtenirOrganisationRequete">
        <wsoap12:body use="literal"></wsoap12:body>
      </wsdl:input>
      <wsdl:output name="StatutReponse">
        <wsoap12:body use="literal"></wsoap12:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrganisationSyncBinding" type="tns:OrganisationSyncPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsaw:UsingAddressing wsdl:required="true"></wsaw:UsingAddressing>
    <wsdl:operation name="obtenirOrganisation">
      <soap:operation soapAction="fase:organisationV2?mode=sync" style="document"></soap:operation>
      <wsdl:input name="obtenirOrganisationRequete">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="obtenirOrganisationReponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrganisationSyncSOAP12Binding" type="tns:OrganisationSyncPT">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></wsoap12:binding>
    <wsaw:UsingAddressing wsdl:required="true"></wsaw:UsingAddressing>
    <wsdl:operation name="obtenirOrganisation">
      <wsoap12:operation soapAction="fase:organisationV2?mode=sync" style="document"></wsoap12:operation>
      <wsdl:input name="obtenirOrganisationRequete">
        <wsoap12:body use="literal"></wsoap12:body>
      </wsdl:input>
      <wsdl:output name="obtenirOrganisationReponse">
        <wsoap12:body use="literal"></wsoap12:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FASEOrganisationServiceV2">
    <wsdl:port name="OrganisationSyncPort" binding="tns:OrganisationSyncBinding">
      <soap:address location="https://services-web.tq.etnic.be:11443/ecole"></soap:address>
    </wsdl:port>
    <wsdl:port name="OrganisationSyncPortSOAP12" binding="tns:OrganisationSyncSOAP12Binding">
      <wsoap12:address location="https://services-web.tq.etnic.be:11443/ecole"></wsoap12:address>
    </wsdl:port>
    <wsdl:port name="OrganisationAsyncPort" binding="tns:OrganisationAsyncBinding">
      <soap:address location="https://services-web.tq.etnic.be:11443/ecole"></soap:address>
    </wsdl:port>
    <wsdl:port name="OrganisationAsyncPortSOAP12" binding="tns:OrganisationAsyncSOAP12Binding">
      <wsoap12:address location="https://services-web.tq.etnic.be:11443/ecole"></wsoap12:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
